body{
    background-color: #333d79ff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

#actionButton{
    font-size: 2rem;
    box-shadow: 0px 0px 60px #faebefff;
    border-radius: 12px;
    background-color: #faebefff;
    padding: 10px 20px;
    width: 15%;
    height: 65px;
    border: none;
    color: #333d79ff;
    text-align: center;
}

/* #actionButton:hover{
    box-shadow: 0px 0px 50px aqua;
} */